# ignore main output
src/RaytracingAlgorithm.out
# ignore main tests
examples/privates/
# ignore outputs
src/*.log
src/*.mp4
src/*.png
src/*.pfm
src/frames
# ignore unused hidden files
.DS_Store
.vscode/
# large files
media/skyboxes/hazy_afternoon.pfm
