name: build

on:
  push:
    paths-ignore:
      - 'LICENSE'
      - '*.md'
    branches:
      - master
  pull_request:
    paths-ignore:
      - 'LICENSE'
      - '*.md'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
        version:
          - 1.6.4
          - stable
          - devel
    steps:
      - uses: actions/checkout@v3
      - uses: jiro4989/setup-nim-action@v1
      - name: Print Nim version
        run: nim -v
      - name: Print Nimble version
        run: nimble -v
      - name: Build package
        run: nimble build -y
      - name: debug1
        run: pwd
      - name: debug2
        run: cd tests && ls ../src/RaytracingAlgorithm/
      - name: Run tests
        run: nimble test -y
